{% extends "base.html" %}
{% block content %}
<h1>为了把下列内容到可见处</h1>

<div class="container" id="main" style="height: 90%"></div>
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/echarts-gl.min.js"></script>
<script type="text/javascript" src="static/js/ecStat.min.js"></script>
<script type="text/javascript" src="static/js/dataTool.min.js"></script>
<script type="text/javascript" src="static/js/china.js"></script>
<script type="text/javascript" src="static/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="static/js/bmap.min.js"></script>
<script type="text/javascript" src="static/js/simplex.js"></script>
<script type="text/javascript">
    var user=prompt("请输入您的用户名：");
    var list = '{{lis|tojson}}';
    var obj = eval(list);
    var data1 = new Array();
    for(var i=0;i<obj.length;i++){
        if(obj[i].userName == user){
            data1.push([obj[i].use_date,obj[i].angry,'angry']);
            data1.push([obj[i].use_date,obj[i].bored,'bored']);
            data1.push([obj[i].use_date,obj[i].disgust,'disgust']);
            data1.push([obj[i].use_date,obj[i].anxious_fear,'anxious_fear']);
            data1.push([obj[i].use_date,obj[i].happy,'happy']);
            data1.push([obj[i].use_date,obj[i].sad,'sad']);
            data1.push([obj[i].use_date,obj[i].neutral,'neutral']);
        }
        }
    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'line',
                lineStyle: {
                    color: 'rgba(0,0,0,0.2)',
                    width: 1,
                    type: 'solid'
                }
            }
        },

        legend: {
            data: ['angry', 'bored', 'disgust','anxious_fear', 'happy', 'sad', 'neutral'],
        },

        singleAxis: {
            top: 50,
            bottom: 50,
            axisTick: {},
            axisLabel: {},
            type: 'time',
            axisPointer: {
                animation: true,
                label: {
                    show: true
                }
            },
            splitLine: {
                show: true,
                lineStyle: {
                    type: 'dashed',
                    opacity: 0.2
                }
            }
        },

        series: [
            {
                type: 'themeRiver',
                itemStyle: {
                    emphasis: {
                        shadowBlur: 20,
                        shadowColor: 'rgba(0, 0, 0, 0.8)'
                    }
                },
                label: {
                    normal: {
                        show: false
                    }
                },
                data: data1
            }
        ]
    };
    myChart.setOption(option, true);
</script>

{% endblock %}
