{% extends "base.html" %}
{% block content %}
	<div class="banner-container">
		<img src="static/images/banner-bg.jpg" alt="banner" />
		<div class="container banner-content">
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Webdesigner</h2>
					<p>Amazing free responsive website for free, enjoy!!!</p>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>UX/UI Developer</h2>
					<p>I develop website using Bootstrap front-end framework..</p>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>HTML5/CSS3</h2>
					<p>HTML5 is a markup language used for structuring and presenting Web.</p>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>JavaScript/jQuery</h2>
					<p>jQuery: Write Less, Do More...</p>
					<div class="da-img"></div>
				</div>
			<!--  <nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav> -->
			</div>
		</div>
	</div>
	

    <footer>
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
{% endblock %}