{% extends "base.html" %}
{% block content %}
	<div class="banner-container">
		<img src="static/images/banner-bg.jpg" alt="banner" />
		<div class="container banner-content">
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>在线情感分析</h2>
					<p>助你洞悉情感O(∩_∩)O~</p>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>即时展示结果</h2>
					<p>终于知道女朋友到底生没生气啦!!!</p>
					<div class="da-img"></div>
				</div>
                <div class="da-slide">
					<h2>典型案例展示</h2>
					<p>原来机智的人是这样说话的哦</p>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>情感波动监测</h2>
					<p>世界如此美妙，你可不要暴躁~</p>
					<div class="da-img"></div>
				</div>
			<!--  <nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav> -->
			</div>
		</div>
	</div>
	

    <footer>
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
{% endblock %}