<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>Neu Profile</title>
<!--     <style type="text/css">
        #show{position:absolute;display:none;left:70%;top:101%;width:300px;height:300px;background-color:white;text-align: center;}
    </style> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
		<script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="static/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/isotope.css" media="screen" />
    <link rel="stylesheet" href="static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="static/da-slider.css" />
    <!-- Owl Carousel Assets -->
    <link href="static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css" />
    <!-- Font Awesome -->
    <link href="static/font/static/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="#top"></div>
    <section id="home">
        <div class="banner-container">
            <img src="static/images/banner-bg.jpg" alt="banner" />
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Webdesigner</h2>
                        <p>Amazing free responsive website for free, enjoy!!!</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>UX/UI Developer</h2>
                        <p>I develop website using Bootstrap front-end framework..</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>HTML5/CSS3</h2>
                        <p>HTML5 is a markup language used for structuring and presenting Web.</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>JavaScript/jQuery</h2>
                        <p>jQuery: Write Less, Do More...</p>
                        <div class="da-img"></div>
                    </div>
				<!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                </div>
            </div>
        </div>
    </section>
    <!--About-->

    <!--Skills-->
    <section id="skills" class="secPad white">
    	<div class="container">
        <div class="heading text-center">
                <!-- Heading -->
                <h2>从这里开始在线分析吧！</h2>
        </div>
        <script src="../static/js/recorder.js"></script>
        <p align="center">
            <span style="white-space:pre"></span>
            <audio controls autoplay></audio>
        </p>
        <p align="center">
		<input type="button" value="开始录音" onclick="startRecording()"/>
		<input type="button" value="停止录音" onclick="stopRecord()"/>
		<input type="button" value="播放录音" onclick="playRecord()"/>
        <input type="button" value="上传录音" onclick="uploadRecord()"/>
        <input type= "button" value="查看结果" onclick="replace()"/>
        </p>
        <script>
            var recorder;
			var audio = document.querySelector('audio');
			function startRecording() {
				HZRecorder.get(function (rec) {
					recorder = rec;
					recorder.start();
				});
			}

			function obtainRecord(){
				var record = recorder.getBlob();
				debugger;
			};

			function stopRecord(){
				recorder.stop();
			};

			function playRecord(){
				recorder.play(audio);
			};

			function uploadRecord(){
                // alert("开始上传");
                // var url="{{ url_for('get_audio') }}";
				// recorder.shangchuan(url,obtainRecord());
				recorder.shangchuan("{{ url_for('get_audio') }}", function(state, e) {
                    switch (state) {
                        case 'uploading':
                            alert("上传中");
                            break;
                        case 'ok':
                            alert("上传成功");
                            break;
                        case 'error':
                            alert("上传失败");
                            break;
                        case 'cancel':
                            alert("上传被取消");
                            break;
                    }
                });
				// alert("上传结束");
			};
            function replace(){
                location.reload()
            };
        </script>
        <div class="row" id = "show">
            <div class="col-sm-6">
                <h2>Sentiment Predicted</h2>
                <div class="row">
                    <div class="col-md-2 skilltitle">angry</div>
                    <div class="col-md-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{dic.angry}}%;">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2 skilltitle">sad</div>
                    <div class="col-md-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{dic.sad}}%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 skilltitle">surprise</div>
                    <div class="col-md-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{dic.surprise}}%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 skilltitle">fear</div>
                    <div class="col-md-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{dic.fear}}%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 skilltitle">happy</div>
                    <div class="col-md-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{dic.happy}}%;">
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        </div>
    </section>


    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

    <!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
    <script src="static/js/modernizr-latest.js"></script>
    <script src="static/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="static/js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="static/js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="static/js/jquery.nav.js" type="text/javascript"></script>
    <script src="static/js/jquery.cslider.js" type="text/javascript"></script>
 <script src="contact/jqBootstrapValidation.js"></script>
 <script src="contact/contact_me.js"></script>

    <script src="static/js/custom.js" type="text/javascript"></script>
    <script src="static/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>
