{% extends "base.html" %}
{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
{% endblock %}
{% block style %}
<style type="text/css">
    .boxcontainer {
        display: grid;
        grid-template-rows: 200px 250px;
    }
    .boxes /*这是关键*/
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .box
            {
                {#border: 1px solid #999;#}
                border-radius: 10px;
                flex: auto;/*这是关键*/
                margin: 5px;
                padding: 10px;
                width: 100px;/*每个元素的初始化宽度,这是关键*/
                height: 500px;
            }
            .box1
            {
                flex:2;/*设置匹配元素所占宽度为平均值的2倍，如果不设置，所有栏等宽*/
            }
</style>
{% endblock %}

{% block content %}
    <div class="heading text-center">
	<!-- Heading -->
	<h2>从这里开始在线分析吧！</h2>
	</div>
	<script src="../static/js/recorder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
<script>
		var class_data = {
			emotion_class:[],
			emotion_prob:[],
			gender_class:[],
			gender_prob:[],
		};

		var opts = {
            //innerImage: {url: '../img/logo.png', width: 56, height: 56 }, //内部图片
            lines: 10, // 花瓣数目
            length: 10, // 花瓣长度
            width: 10, // 花瓣宽度
            radius: 20, // 花瓣距中心半径
            corners: 1, // 花瓣圆滑度 (0-1)
            rotate: 0, // 花瓣旋转角度
            direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
            color: '#000000', // 花瓣颜色
            speed: 1, // 花瓣旋转速度
            trail: 60, // 花瓣旋转时的拖影(百分比)
            shadow: false, // 花瓣是否显示阴影
            hwaccel: true, //spinner 是否启用硬件加速及高速旋转
            className: 'spinner', // spinner css 样式名称
            zIndex: 2e9, // spinner的z轴 (默认是2000000000)
            top: '50px', // spinner 相对父容器Top定位 单位 px
            {#left: '15%', // spinner 相对父容器Left定位 单位 px#}
            position: 'relative', // element position
            progress: true,      // show progress tracker
            progressTop: 0,       // offset top for progress tracker
            progressLeft: 0       // offset left for progress tracker
        };
        var spinner = new Spinner(opts);
		var recorder;
		var audio = document.querySelector('audio');

		function getResults(k,j){
		    var file = document.getElementById('file_'+k+j).files[0];
            var url = URL.createObjectURL(file);
            console.log(url);
            document.getElementById("audio_id_"+k+j).src = url;
		    var target = document.getElementById('show_'+k+j);
			spinner.spin(target);
            var fd = new FormData();
			fd.append("audioData", file);
			var xmlhttp;
			if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp = new XMLHttpRequest();
			}
			xmlhttp.onreadystatechange = function () {
				if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
					console.log(xmlhttp.readyState);
				    var data =  eval("("+xmlhttp.responseText+")") ;

					// var data =  JSON.parse(xmlhttp.responseText) ;
					class_data.emotion_class =  data.emotion_class;
					class_data.emotion_prob = data.emotion_prob;
					class_data.gender_class = data.gender_class;
					class_data.gender_prob = data.gender_prob;
                    var sentence="";
                    if(class_data.gender_prob[0]>=0.5){
                        sentence+="小伙子，";//
                    }
                    else if(class_data.gender_prob[1]>=0.5){
                        sentence+="小姑娘，";
                    }
                    if(class_data.emotion_prob[0]>=0.5){
                        sentence+="莫生气莫生气，人间不值得";//angry
                    }
                    else if(class_data.emotion_prob[1]>=0.5){
                        sentence+="再写一篇paper就不无聊了";//boredom
                    }
                    else if(class_data.emotion_prob[2]>=0.5){
                        sentence+="发生了啥让你那么讨厌";//disgust
                    }
                    else if(class_data.emotion_prob[3]>=0.5){
                        sentence+="怕什么，信息系统开发实验课都要结课了";//fear
                    }
                    else if(class_data.emotion_prob[4]>=0.5){
                        sentence+="是你飘了还是我举不动刀了→_→";//happy
                    }
                    else if(class_data.emotion_prob[5]>=0.5){
                        sentence+="怎么？flask写不出来了？";//sad
                    }
                    else if(class_data.emotion_prob[6]>=0.5){
                        sentence+="你的内心毫无波澜而且...还是毫无波澜";//neutral
                    }
                    else {
                        sentence+="本机器无法识别您，请问您真的来自地球吗？";//none
                    }

					insert_html = '<div align="center">\n'+
                    '\t\t\t<h4>Sentiment Predicted\n'+'</h4>\n';;
					for (var i = 0; i < class_data.emotion_class.length; i++) {
						console.log(class_data.emotion_class[i]);
						insert_html += '\n\t\t\t<div class="row" align="center">\n' +
					'\t\t\t\t<div class="col-md-2 skilltitle">' + class_data.emotion_class[i]+ ' </div>\n' +
					'\t\t\t\t<div class="col-md-8">\n' +
					'\t\t\t\t\t<div class="progress" lay-showPercent="yes">\n' +
					'\t\t\t\t\t\t<div class="progress-bar" role="progressbar" aria-valuenow="' + class_data.emotion_prob[i]*100 +'" aria-valuemin="0" aria-valuemax="100" style="width:'+ class_data.emotion_prob[i]*100 +'%">\n' +
					'\t\t\t\t\t\t</div>\n' +
                    '\t\t\t\t\t\t<div align="right">'+(class_data.emotion_prob[i]*100).toFixed(2)+'%</div>\n'+
					'\t\t\t\t\t</div>\n' +
					'\t\t\t\t</div>\n' +
					'\t\t\t</div>\n'
					}
					insert_html += '<h4 align="center">'+sentence+'</h4>'+'\t\t</div>';
					console.log(insert_html);
					spinner.spin();
					document.getElementById("show_"+k+j).innerHTML= insert_html
				}
			};
			xmlhttp.open("POST","{{ url_for('get_class',saved="1") }}",true);
			xmlhttp.setRequestHeader("filename",url);
			xmlhttp.setRequestHeader("userName","admin");
			xmlhttp.send(fd);
		}
	</script>
    {% for k in range(2) %}
    <div class="boxcontainer">
    <div class="boxes">
    {% for j in range(3) %}
            <div class="box box1">
                <div class="container" align="center">
					<input type="file" id="file_{{ k }}{{ j }}" onchange="getResults({{ k }},{{ j }})">
                    <audio id="audio_id_{{ k }}{{ j }}" controls="controls">
                        Your browser can't support HTML5 Audio</audio>
                    <div id = "show_{{ k }}{{ j }}" align="left"></div>
                </div>

            </div>

{% endfor %}
        </div>
    </div>
    {% endfor %}

{% endblock %}
