<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>语音识别评测 Demo</title>
</head>
<body>
    <h1>追一语音识别评测 Demo</h1>
    <p>另：IE 和 Safari 全版本不支持录音功能</p>
    <button id="start" class="ui-btn ui-btn-primary">录音</button>
    <button id="stop" class="ui-btn ui-btn-primary" disabled>停止</button>
    <!--<button id="upload" class="ui-btn ui-btn-primary" disabled>上传</button>-->
    <div id="audio-container"></div>
    <h2>操作日志</h2>
    <pre id="log"></pre>
    <script type="text/javascript" src="static/js/HZRecorder.js"></script>
    <script>
        function __log(e, data) {
            log.innerHTML += "\n" + getNowFormatDate() + " " + e + " " + (data || '');
        };
        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "/";
            var seperator2 = ":";
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var hours = date.getHours()
            if (hours < 10) {
                hours = "0" + hours
            }
            var minutes = date.getMinutes()
            if (minutes < 10) {
                minutes = "0" + minutes
            }
            var seconds = date.getSeconds()
            if (seconds < 10) {
                seconds = "0" + seconds
            }
            var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate +
                "-" + hours + seperator2 + minutes + seperator2 + seconds;
            return currentdate;
        }
        window.onload = function() {
            var start = document.querySelector('#start');
            var stop = document.querySelector('#stop');
            var container = document.querySelector('#audio-container');
            var recorder;
            HZRecorder.get(function(rec) {
                recorder = rec;
            })
            start.addEventListener('click', function() {
                __log("开始录音")
                this.disabled = true;
                stop.disabled = false;
                //upload.disabled = true;
                var audio = document.querySelectorAll('audio');
                for (var i = 0; i < audio.length; i++) {
                    if (!audio[i].paused) {
                        audio[i].pause();
                    }
                    container.removeChild(audio[i]) // 移除之前的录音
                }
                recorder.start();
            });
            stop.addEventListener('click', function() {
                this.disabled = true;
                start.disabled = false;
                //upload.disabled = false;
                recorder.stop();
                var audio = document.createElement('audio');
                recorder.play(audio)
                container.appendChild(audio);
                // 下载音频文件
                // var link = window.document.createElement('a');
                // var link = document.createElement('a');
                // link.href = audio.src;
                // console.log(link);
                // link.download = 'output.wav';
                // link.click()
                recorder.upload("{{ url_for('get_audio') }}", function(state, e) {
                    switch (state) {
                        case 'uploading':
                            __log("上传中，会在后端进行转码与识别");
                            break;
                        case 'ok':
                            //__log("上传成功");
                            break;
                        case 'error':
                            __log("上传失败");
                            break;
                        case 'cancel':
                            __log("上传被取消");
                            break;
                    }
                })
            });
        };
    </script>
</body>
</html>